[main]

## Azure connection String
AZ_CONNECTION_STRING = AzureConnectionStringhere

## Azure account storage
AZ_CONTAINER_STORAGE = test1234

## Path to logfile
LOCAL_LOG_FILE = /home/abhi/RSI/Aprio/Aprio-azure-utility/logs.txt

## Local Storage directory
LOCAL_DIR_STORAGE = /home/abhi/RSI/Aprio/Aprio-azure-utility/Data

## Keeping Temp files
TMP_DIR = /home/abhi/RSI/Aprio/Aprio-azure-utility/tmp

## Database Details ##

DBHOST = tcp:SEZ35MOBILIZE\SQL2017
DBNAME = AprioSQLPortals 
DBUSER = sa
DBPASS = Rsys_1234