[main]

## Azure connection String
AZ_CONNECTION_STRING = AZURE_STORAGE_CONNECTION_STRING_HERE

## Azure account storage ##
AZ_CONTAINER_STORAGE = test1234

## Path to logfile
LOCAL_LOG_FILE = /home/abhi/RSI/Aprio/Aprio-azure-utility/logs.txt

## Local Storage directory
LOCAL_DIR_STORAGE = /home/abhi/RSI/Aprio/Aprio-azure-utility/Data

## Keeping Temp files
TMP_DIR = /home/abhi/RSI/Aprio/Aprio-azure-utility/tmp

## Database Details ##

[DB_AprioSQLPortals]
DBHOST = tcp:SEZ35MOBILIZE\SQL2017
DBNAME = AprioSQLPortals 
DBUSER = DBUSER
DBPASS = DBPASS

[DB_AprioUSDB]
DBHOST = tcp:SEZ35MOBILIZE\SQL2017
DBNAME = AprioUSDB 
DBUSER = DBUSER
DBPASS = DBPASS

## PDF Conversion API Details ##

[API]
API_HOST = http://localhost:2000
API_KEY = migration_key
